doctype 5
html(lang="es")
head 
    title Desafío 5 - PUG
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
    h1 Productos
    table.table.table-striped 
                tr 
                    th Id 
                    th Nombre 
                    th Precio
                    th Foto 
                each prod in productosList 
                    tr 
                        td= prod.id 
                        td= prod.title 
                        td= prod.price
                        td
                            img(src=prod.thumbnail)
    a(href="/api/productoForm") Agregar un producto